<%= form_for @message do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <%= f.label :trigger, "Trigger:" %>
    </div>
    <div class="col-sm-9">
      <%= f.text_field :trigger %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <%= f.label :content, "Message:" %>
    </div>
    <div class="col-sm-9">
      <%= f.text_field :content %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <%= f.label :voice, "Voice:" %>
    </div>
    <div class="col-sm-9">
      <%= f.select :voice, choices = Message::VOICES %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <%= f.label :language, "Language:" %>
    </div>
    <div class="col-sm-9">
      <%= f.select :language, choices = Message::LANGUAGES %>
    </div>
  </div>

  <%= f.submit %>

<% end %>
