<h2>All Messages</h2>

<p><%= link_to 'New Message', new_message_path %></p>
<div>
  <% @messages.each do |message| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Trigger: <strong><%= message.trigger %></strong></h3>
      </div>
      <div class="panel-body">
        <strong>Message:</strong> "<%= message.content %>"<br>

        <small>
          <strong>Voice:</strong> <%= message.voice %> |
          <strong>Language:</strong> <%= message.language %>
        </small>

        <br>

        <%= link_to 'Edit', edit_message_path(message) %> |
        <%= link_to 'Delete', message, method: :delete, data: {confirm: 'Really delete this message?'} %>

      </div>
    </div>
  <% end %>
</div>
