<h2>All Messages</h2>

<div>
  <%= link_to 'New Message', new_message_path %>
</div>
<div>
  <% @messages.each do |message| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Trigger: <strong><%= message.trigger %></strong></h3>
      </div>
      <div class="panel-body">
        <strong>Message:</strong> "<%= message.content %>"<br>

        <small>
          <strong>Voice:</strong> <%= message.voice %> |
          <strong>Language:</strong> <%= message.language %>
        </small>

        <br>

        Edit | Add to:

      </div>
    </div>
  <% end %>
</div>
