<%= form_for @message, url: messages_path, html: { method: :post, role: 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :trigger, "Trigger:" %><br>
    <%= f.text_field :trigger, placeholder: "Enter trigger word(s)" %>
  </div>

  <div class="form-group">
    <%= f.label :content, "Message:" %><br>
    <%= f.text_area :content, html: { rows: "3" }, placeholder: "Enter call message" %>
  </div>

  <div class="form-group">
    <%= f.label :voice, "Voice:", class: 'strong' %>

    <!-- Radio butans for voice options -->
    <span class="options">
      <% Message::VOICES.each do |type| %>
        <label class="radio-inline">
          <%= f.radio_button :voice, type %> <%= type %>
        </label>
      <% end %>
      </span>
  </div>

  <%= f.submit class: 'btn btn-primary' %>

<% end %>
