<h2>Dashboard</h2>
<hr />

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 dashboard">
      <div class="module">
        <h3 class="profile-inline">My Profile</h3>
        <%= link_to ("<span class='glyphicon glyphicon-pencil edit'></span>").html_safe, edit_user_registration_path %>
        <div class="module-content">
          <strong>Twilio Number:</strong> +1 617-606-9516
          <strong>Email:</strong> <%= current_user.email %><br>
          <strong>Phone:</strong> <%= current_user.phone %><br>
          <strong>Last Login:</strong> <%= current_user.last_sign_in_at.localtime.strftime("%B %d, %Y at %I:%M%p") %><br>
          <small><%= link_to "Edit", edit_user_registration_path %></small>
        </div>
      </div>
    </div> <!-- /col-sm-6 -->

    <div class="col-sm-6 dashboard">
      <div class="module">
        <h3 class="profile-inline">Quick Message</h3>
        <div class="module-content">
          <%= render 'form', message: @message %>
        </div>
      </div>
    </div> <!-- /col-sm-6 -->

  </div> <!-- /row -->
</div> <!-- /container-fluid -->
