<h1>All Scenarios</h1>
<p><%= link_to 'New Scenario', new_scenario_path %></p>

<div>
  <% @scenarios.each do |scenario| %>
    <% if scenario.is_enabled? == true %>
      <div class="panel panel-success">
    <% else %>
      <div class="panel panel-default">
    <% end %>

      <div class="panel-heading">
        <h3 class="panel-title"><%= scenario.title %><br></h3>
      </div>

      <div class="panel-body">
        <strong>Enabled?:</strong> <%= scenario.is_enabled? %><br>
        <strong>Messages:</strong><br>

        <% scenario.messages.each do |message| %>
          <%= message.trigger %>: "<%= message.content %>"<br>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
