<!DOCTYPE html>
<html>
<head>
  <title>Date Escape!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/flash', flash: flash %>

  <div class="container">

  <header class="text-center">
    <h1>Date Escape!</h1>
    <p class="lead">pork chop sandwiches<br>what the-- get the f out we're all dead</p>
  </header>

  <%= render 'layouts/navigation' %>

  <main>
    <%= yield %>
  </main>

</body>
</html>
