<!DOCTYPE html>
<html>
<head>
  <title>Date Escape</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <%= render 'layouts/flash' %>
    <header>
      <h1>Date Escape!</h1>
    </header>

    <nav>
      <%= render 'layouts/navigation' %>
    </nav>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
